$darkfont : black;
$lightfont : lightgray;
$darkcolor : rgb(38, 38, 38);
$lightcolor : rgb(244, 244, 244);
$yellow : #FFD700;
$lightbutton : #ffffff;
$transparent : transparent;
$black_opacity_50 : rgba(0, 0, 0, 0.5);
$black: black;
$yellow_background : #FFEB80;