.bg-black-50 {
    background-color: $black_opacity_50;
}

.bg-black {
    background-color: $black;
}

.bg-white {
    background-color: white;
}

.bg-yellow {
    background-color: $yellow_background;
}