.dark {
    &colorfont {
        background-color: $darkfont
    }

    &colortext {
        color: $darkcolor;
    }
}

.light {
    &colorfont {
        background-color: $lightfont
    }

    &colortext {
        color: $lightcolor;
    }
}

//DARKMODE BUTTON CLASS CONTAINER
main div.container {
    position: fixed;
    z-index: 10;
    bottom: 10%;
    right: 5%;
    width: 5%;
    height: 5%;

}

// SECTION 1
.section1 {

    &-container {
        height: 80vh;
        width: 100%;
        position: relative;
        right: 0;
        z-index: 2;

        img {
            position: absolute;
            height:80vh;
            width: 100%;
            background-size: cover;
        }
    }
}

#section1-buttons{
    position: absolute;
    width: 100vw;
    top: 68vh;
    display:flex;
    justify-content: space-evenly;
}

.restaurant {

    padding-top: 1%;

    h2 {
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 1%;
    }

    p {
        padding-right: 9%;
        padding-left: 9%;
    }
}


.carousel {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.carousel .carousel-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 20px;
}

.carousel .carousel-actions button#carousel-button-next {
    margin-right: 20px;
}

.carousel-dots {
    text-align: center;
}

.dot {
    opacity: 0.7;
}

.dot:focus {
    border: 1px solid black;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}