.dark{
    &colorfont{
        background-color: $darkfont
    }
    &colortext{
        color : $darkcolor;
    }
}

.light{
    &colorfont{
        background-color: $lightfont
    }
    &colortext{
        color : $lightcolor;
    }   
}

div.container{
    position:fixed;
    bottom: 10%;
    right: 5%;
    width:5%;
    height:5%;
}