$darkfont : black;
$lightfont : lightgray;
$darkcolor : rgb(38, 38, 38);
$lightcolor : rgb(244, 244, 244);
$yellowbutton : #FFD700;
$lightyellowbutton : rgba(255, 215, 0, 0.5);
$lightbutton : #ffffff;
$transparent : transparent;
$darkhover : rgba(0,0,0,0.5);


.white{
    color:$lightcolor;
}