
$regularWoff :"../fonts/BespokeSlab-Regular.woff" ;
$regularWoff2 : "../fonts/BespokeSlab-Regular.woff2";

$mediumWoff :"../fonts/BespokeSlab-Medium.woff" ;
$mediumWoff2 : "../fonts/BespokeSlab-Medium.woff2";

$policemain : 'BespokeSlab', sans-serif
