.link {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;


    &:hover {
        text-decoration: underline;
    }

    &-yellow {
        &:hover {
            color: $yellow;
        }
    }

    &-selected {
        color: $yellow;
        text-decoration: underline;
    }
}