.menu {
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top: 6rem;
    justify-content: space-between;
    align-items: center;
}

.ellipse {
    width: 830px;
    height: 1096px;
    margin: 4% auto;
    shape-outside: ellipse(70% 20%);
    clip-path: ellipse(50% 50%);
    background: rgba(#DADADA, 0.25);
}

.text-menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    text-align: center;
    font-size: 1.5rem;
}

.title-menu {
    font-size: 2rem;
    font-weight: $bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: $medium;
    transition: all 1s;
}

.image-absolute-menu {
    &-1 {
        position: absolute;
        top: 13%;
        left: 19%;
    }

    &-2 {
        position: absolute;
        top: 20%;
        right: 19%;
    }

    &-3 {
        position: absolute;
        top: 60%;
        right: 17%;
    }

    &-4 {
        position: absolute;
        top: 70%;
        left: 20%;
    }
}

.price-menu {
    font-weight: $medium;
}

.transparent {
    opacity: 0;
    transition: opacity 0.5s;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s;
}