.cardlist {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-element {
        border : solid 1.5px $darkfont;
        border-radius:15px;
        flex-direction : column;
        width:310px;
        height:460px;
        transition: 0.5s;

        img:not(:first-child){
            width:309px;
            height:265px;
        }

        &:hover {
            box-shadow: 0px 5px 12px $darkhover;
        }
    }
}

.title{
    font-size:1.6rem;
}

.subtitle{
    text-overflow: ellipsis;
    font-weight:400;
}