footer {
	background-color: #252525;
	color: #FFFFFF;
	padding: 1rem 0;
	text-align: center;
}

body {

	footer {

		padding: 1rem 0;

		nav {
			width: 90%;
			margin: auto;
		}

		hr {
			width: 90%;
			background-color: #FFFFFF;
		}

		a {
			font-size: 16px;
		}

		.news-media {
			width: 100%;
			display: flex;

			form {
				margin-left: 2%;
				margin-top: auto;
				margin-bottom: auto;
				background: 0%;

				input[type="email"] {
					border: 1px solid #FFFFFF;
					background: rgba(255, 255, 255, 0);
					text-align: center;
					height: 1.6rem;
					font-size: 1em;
					font-family: $main_police;
					width: 60%;
					margin-top: 3%;
				}

				input[type="submit"] {
					height: 2.8rem;
					border-radius: 3em;
					width: 4rem;
					margin-left: 1.3rem;
					border: 0;
					background-color: #FFFFFF;
					font-family: $main_police;
				}
			}
		}

		h5 {
			font-size: 22px;
			font-family: $main_police;
		}

		.container {
			display: flex;
			align-items: center;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
		}

		li {
			a {
				padding: 0.5em;
				display: block;
				text-decoration: none;
			}
		}

	}

}