footer {
	background-color: #252525;
	color: #FFFFFF;
	padding: 1rem 0;
	text-align: center;
}

body {

	footer {

		nav {
			width: 100%;
			margin: auto;
			margin-top: 0.5%;
			padding: 1.5% 0 1.5% 0;
		}

		ul {
			justify-content: center;
		}

		.foottext {
			width: 100%;
		}

		.hyphen {
			width: 100%;
		}

		a {
			color: #FFFFFF;
			font-size: 13px;
		}

		.news-media {
			width: min-content;
			display: flex;
			flex-wrap: nowrap;

			img {
				margin-right: 0.6rem;
			}

			form {
				display: flex;
				margin: auto;
				align-items: center;

				input[type="email"] {
					border: 1px solid #FFFFFF;
					background: rgba(255, 255, 255, 0);
					text-align: center;
					height: 1.6rem;
					font-size: 1em;
					width: auto;
					margin-right: 1.5rem;
				}

				input[type="submit"] {
					height: auto;
					border-radius: 3em;
					width: 4rem;
					border: 0;
					padding: 4%;
					background-color: #FFFFFF;
				}
			}
		}

		h5 {
			font-size: 25px;
			font-family: $main_police;
			white-space: nowrap;
			height: auto;
			margin-right: 1.5rem;
		}

		.container {
			display: flex;
			align-items: center;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
		}

		li {
			a {
				display: block;
				text-decoration: none;
				white-space: nowrap;
			}
		}

	}

}