@font-face {
    font-family: "BespokeSlab";
    src: url("../../../fonts/BespokeSlab-Regular.eot");
    src: url("../../../fonts/BespokeSlab-Regular.woff") format("woff");
}

// BODY
body {
    box-sizing: border-box;
    margin: 0;
    font-family: "BespokeSlab", sans-serif;
}

//DARKMODE BUTTON
div {
    button {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

// HEADER
header {
    padding: 1rem 0;
    width: 100%;
    z-index: 9;
    position: fixed;

    &>.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div {

        a {
            text-decoration: none;
            color: $lightcolor;
            transition: 0.5s;

            img {
                height: 50%;
                width: 50%;
            }
        }

        nav {
            ul {
                display: flex;
                padding: 0 1rem;
                font-size: 1.6rem;
                padding: 0 2rem;

                li {
                    list-style: none;

                    :hover {
                        color: $loginbutton;
                    }
                }

                a {
                    padding: 0.5em;
                    display: block;
                }
            }
        }
    }
}