// .img {
//     position: relative;
//     overflow: auto;
//     width: 521px;
//     height: 729px;

//     &-small {
//         width: 186px;
//         height: 269px;
//     }
// }

// .history {
//     &-title {
//         font-size: 2.5rem;
//     }

//     &-subtitle {
//         font-weight: 400;

//         @media screen and (max-width: 2000px) {
//             font-size: 1.5rem;
//         }

//         @media screen and (max-width: 1630px) {
//             font-size: 1.25rem;
//         }

//         @media screen and (max-width: 1360px) {
//             font-size: 1rem;
//         }

//         @media screen and (max-width: 1090px) {
//             font-size: 0.75rem;
//         }

//         @media screen and (max-width: 769px) {
//             font-size: 1rem;
//         }

//         @media screen and (max-width: 481px) {
//             font-size: 1.2rem;
//             width: 100%;
//             padding-top: 1rem;
//             padding-bottom: 5rem;
//         }
//     }

//     &-story {
//         @media screen and (max-width: 1920px) {
//             width: 61%;

//             @media screen and (max-width: 320px) {
//                 font-size: 1.25rem;
//             }

//             @media screen and (max-width: 1360px) {
//                 width: 70%;
//             }

//             @media screen and (max-width: 481px) {
//                 width: 100%;
//             }

//             margin:auto;
//         }

//         &-width {
//             width: 61%;
//         }

//         &-hr {
//             border: none;
//             background-color: $yellowbutton;
//             height: 1.5px;
//             width: 54%;

//             @media screen and (max-width: 481px) {
//                 width: 90%;
//             }

//         }

//         &-img {
//             position: relative;
//             overflow: auto;
//             width: 521px;
//             height: 729px;

//             &-small {
//                 width: 30%;
//                 height: 100%;
//             }
//         }


//         &-responsive {
//             @media screen and (max-width: 481px) {
//                 display: flex;
//                 flex-direction: column-reverse;
//                 justify-content: center;
//                 padding: 0;
//                 width: 90%;

//                 .image-grid {
//                     order: 1;
//                 }

//                 .history-title {
//                     font-size: 1.75rem;

//                 }

//                 img {
//                     flex-grow: 3;
//                 }

//                 div {
//                     width: 100%;
//                 }

//                 .history-img-small {
//                     padding: 0.25rem 0.25rem 3rem 0.25rem;
//                 }
//             }
//         }
//     }

//     .space {
//         &-title {
//             font-size: 2.5rem;
//         }

//         &-width {
//             width: 75%;
//         }
//     }
// }


.history-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;



    &-left {
        flex-direction: row-reverse;

        >*+* {
            margin-right: 2rem;

            @media screen and (max-width: 750px) {
                margin-right: 0;
            }
        }
    }

    &-right {
        flex-direction: row;

        >*+* {
            margin-left: 2rem;

            @media screen and (max-width: 750px) {
                margin-left: 0;
            }

        }
    }

    @media screen and (max-width: 750px) {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0 1rem;

        >*+* {
            margin-top: 2rem;
        }
    }


}

.history-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 750px) {
        text-align: center;
    }
}

.history-container-image {
    >img+img {
        margin-left: 1rem;
    }


}

.history-container+.history-container {
    margin-top: 5rem;
}

.inter-text {


    &-1 {
        top: -12%;
        left: -20%;
        transform: rotate(-8deg);
        font-size: 1.4rem;
        border: 1px black dashed;
        padding: 0.5rem;
        border-radius: 0.4rem;
        font-weight: $bold;
    }

    &-2 {
        top: 55%;
        right: -20%;
        transform: rotate(12deg);
        font-size: 1.4rem;
        border: 1px black dashed;
        padding: 0.5rem;
        border-radius: 0.4rem;
        font-weight: $bold;
    }

}

.history-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {

    .inter-text {
        position: absolute;

        position: &-1 {

            background-color: red;

            font-size: 1.4rem;
            border: 1px black dashed;
            padding: 0.5rem;
            border-radius: 0.4rem;
            font-weight: $bold;
        }

        &-2 {


            font-size: 1.4rem;
            border: 1px black dashed;
            padding: 0.5rem;
            border-radius: 0.4rem;
            font-weight: $bold;
        }

    }

}